name: ESLintActions

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
    types: [assigned, opened, synchronize, reopened]

jobs:
    build:
      env:
        working-directory: /github/workspace/

      runs-on: ubuntu-latest

      strategy:
        matrix:
          node-version: [10.x]

      steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      -  run: npm init -y
         working-directory: ${{ env.working-directory }} 
      -  run: npm install eslint --save-dev
         working-directory: ${{ env.working-directory }} 
    
    eslint:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v1
        - uses: stefanoeb/eslint-action@1.0.2
          with:
            repo-token: ${{ secrets.GITHUB_TOKEN }}
            files: /src
          env:
            CI: true
