name: ESLintActions

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
    types: [assigned, opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - uses: fusion-engineering/setup-git-credentials@v2
      with:
        credentials: ${{secrets.GIT_CREDENTIALS}} 
    - uses: actions/checkout@v1         
    - run: npm install
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        CI: true
    - uses: stefanoeb/eslint-action@1.0.2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
