name: ESLintActions

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
    types: [assigned, opened, synchronize, reopened]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: npm install --only=prod eslint eslint-config-standard eslint-plugin-html eslint-plugin-import eslint-plugin-json eslint-plugin-node eslint-plugin-promise eslint-plugin-standard
      env:
        CI: true
    - uses: stefanoeb/eslint-action@1.0.2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
