name: ESLintActions

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]
    types: [assigned, opened, synchronize, reopened]

jobs:     
  eslint:
    runs-on: ubuntu
    steps:
    - name: eslint
    - uses: actions/checkout@v1
    - uses: stefanoeb/eslint-action@1.0.2
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        files: /src
